<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654483501704-cqsvn71op8io6t26e7ta0pr5f2ika2ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654483501704-cqsvn71op8io6t26e7ta0pr5f2ika2ga</string>
	<key>API_KEY</key>
	<string>AIzaSyCUOjkHlPrqyLPCk9Oeqx6hM3QXw_y9pjk</string>
	<key>GCM_SENDER_ID</key>
	<string>654483501704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tourCeylon</string>
	<key>PROJECT_ID</key>
	<string>tour-ceylon-34a84</string>
	<key>STORAGE_BUCKET</key>
	<string>tour-ceylon-34a84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654483501704:ios:f8e74cc8e9ddd51ce7e53d</string>
</dict>
</plist>